body{
    background-color: grey;
}

.clock {
    position: static;
    top: 50%;
    left: 50%;
    color : red;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 7px;


}